#system_layer {
    width: calc(90vh * 16 / 9); /* Bu da oranlı görünüm sağlar */
    height: 90vh;
    background-color: white;
    float: left;
}


html,
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    background-color: black;
}